# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Notebooks
.ipynb_checkpoints/

# Data
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/README.md

# Models / outputs
models/*
outputs/figures/*
outputs/reports/*
!models/.gitkeep
!outputs/figures/.gitkeep
!outputs/reports/.gitkeep

# Local databases
*.duckdb
*.db

# IDE / OS
.DS_Store
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml
